@font-face {
  font-family: 'Proxima Nova Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

a {
  text-decoration: none;
}

.col, .col-1, .col-2, .col-3, .btn {
  padding: 0;
  margin: 0;
}

h4 {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 42px;
  color: #161737;
}

.navigation {
  background-color: #10A578;
  height: 70px;
  font-size: 16px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.navigation_logo {
  width: 111px;
  height: 31px;
  padding-top: 21px;
}

.navigation_city {
  padding-left: 26px;
  padding-top: 25px;
}

.navigation_city_img {
  padding-left: 8px;
}

.navigation_specialists {
  padding-left: 65px;
  padding-top: 25px;
}

.navigation_compani, .navigation_notaries, .navigation_benefit {
  padding-left: 24px;
  padding-top: 25px;
}

.navigation button {
  border-radius: 4px;
}

.navigation .btn-1 {
  padding: 12px 25px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.navigation .btn-2 {
  padding: 12px 14px;
  color: #10A578;
  background-color: #ffffff;
  border: none;
}

.navigation_circuit {
  padding-left: 25px;
  margin-top: 13px;
}

.navigation_fill {
  padding-left: 10px;
  margin-top: 13px;
}

.navigation a {
  color: white;
}

.main {
  background: url(../image/Main/home.svg) no-repeat;
  background-size: 110%;
  /* Placeholder
-----------------------------------------------------*/
}

.main h1 {
  margin-top: 138px;
  margin-bottom: 26px;
  font-size: 60px;
  font-family: "Proxima Nova Bold", sans-serif;
}

.main h1 span {
  color: #10A578;
}

.main form {
  margin-bottom: 170px;
}

.main form.catalin input {
  float: left;
  border: 1px solid #e7e8f4;
  height: 70px;
  width: 600px;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  border-radius: 6px 0 0 6px;
}

.main form.catalin button {
  float: left;
  border: none;
  background-color: #10A578;
  border-radius: 0 6px 6px 0;
  border: 1px solid #e7e8f4;
  border-left: none;
  padding: 0;
  margin: 0;
  width: 174px;
  height: 70px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 20px;
}

.main form.catalin input::-webkit-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.main input[type="text"] {
  padding: 24px;
}

.main form.catalin input:-moz-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.main form.catalin input:-ms-input-placeholder {
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  padding: 24px;
}

.factodes_blocks {
  border: 1px solid #e7e8f4;
  border-radius: 6px;
  -webkit-transform: translate(0, -80px);
          transform: translate(0, -80px);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.factodes_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 41px 20px;
  background-color: white;
  border-left: 1px solid #e7e8f4;
}

.factodes_block:first-child {
  border-left: none;
}

.factodes_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 18px;
}

.factodes_textt {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
  color: #161737;
  margin-top: 5px;
  width: 20px;
}

.factodes_fact {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  color: #161737;
  border: 1px solid #10A578;
  padding: 10px 14px;
  border-radius: 6px;
  margin-top: 9px;
}

.factodes_fact span {
  color: #10A578;
  font-family: "Proxima Nova Bold", sans-serif;
}

.special {
  border-bottom: 1px solid #e7e8f4;
  padding-bottom: 80px;
  color: #161737;
}

.special .title {
  margin: 20px 0 40px 0;
}

.special_block {
  width: 270px;
  border-radius: 3px;
  border-top: 3px solid #10A578;
  padding: 29px 0 19px 14px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.special_icon {
  padding-right: 20px;
}

.special_fact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 2px;
  color: #8c8da4;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 20px;
}

.special_text {
  font-size: 20px;
  font-family: "Proxima Nova Semibold", sans-serif;
  line-height: 1;
}

.special_text span {
  font-family: "Proxima Nova Regular", sans-serif;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services_block {
  margin-top: 60px;
  padding: 20px 20px 20px 0;
}

.services .serv {
  margin-bottom: 36px;
}

.services a {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 18px;
  color: #161737;
  display: block;
  padding-bottom: 36px;
}

.services a span {
  color: #8c8da4;
}

.lawyers {
  font-family: "Proxima Nova Regular", sans-serif;
  color: #161737;
}

.lawyers .phone_block {
  left: 60px;
  top: -20px;
}

.lawyers .lawyers_info {
  margin-top: 15px;
}

.lawyers_block {
  border: 1px solid #e7e8f4;
  padding: 10px;
  border-radius: 6px;
  height: 260px;
}

.lawyers_block-2 {
  height: 300px;
  margin-top: 20px;
  padding: 10px;
}

.lawyers_block-2 p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.lawyers_img {
  width: 148px;
}

.lawyers .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e7e8f4;
  border-radius: 6px;
  width: 148px;
  padding: 12px;
  font-size: 15px;
  margin-top: 5px;
}

.lawyers_icon {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  padding-right: 20px;
}

.lawyers_start {
  padding-right: 5px;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.lawyers .special {
  height: 100%;
  padding: 0;
}

.lawyers .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.lawyers_name {
  font-size: 25px;
}

.lawyers .specialization_block .icon_img-1 {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.lawyers .specialization_block .icon_img-2 {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.lawyers .specialization_block .icon_img-3 {
  -webkit-transform: translateY(3.5px);
          transform: translateY(3.5px);
}

.lawyers .specialization_block .spans {
  margin-top: 11px;
  font-size: 14px;
  display: inline-block;
  height: 100%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.lawyers .specialization_block .spans span {
  background-color: #F8F8FE;
  border-radius: 4px;
  padding: 5px 6px;
  line-height: 2.3;
}

.lawyers .specialization_block .adress {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.lawyers .specialization_block .adress .time-work {
  margin-left: 20px;
}

.lawyers .specialization_block p {
  display: inline-block;
  font-size: 16px;
}

.lawyers_phone {
  width: 230px;
  padding: 18px;
  font-size: 18px;
  background: #F8F8FE;
  border-radius: 6px;
  letter-spacing: 0.08em;
}

.lawyers_phone .phone_text {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 15px;
  color: #10A578;
  letter-spacing: 0;
}

.lawyers .WhatsApp {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Proxima Nova Semibold", sans-serif;
  width: 230px;
  height: 54px;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #10A578;
  border-radius: 6px;
  color: #10A578;
}

.lawyers .WhatsApp_icon, .lawyers .WhatsApp_text {
  padding-left: 10px;
  padding-right: 30px;
}

.lawyers .consultation {
  margin-top: 27px;
  width: 230px;
  text-align: center;
  font-size: 15px;
}

.lawyers .consultation .yes {
  color: #10A578;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.lawyers .consultation .no {
  color: #8c8da4;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
}

.lawyers .weekdays {
  border: 1px solid #10A578;
  padding: 5px;
  border-radius: 4px;
  color: #10A578;
}

.lawyers .output {
  color: #e7e8f4;
  border: 1px solid #e7e8f4;
  padding: 5px;
  border-radius: 4px;
}

.lawyer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #161737;
}

.lawyer_block {
  padding-bottom: 20px;
}

.lawyer_block-photo {
  margin: 10px;
}

.lawyer_block .rewyes {
  margin-top: 5px;
  display: inline-block;
  border: 1px solid #e7e8f4;
  border-radius: 4px;
  padding: 10px 18px 10px 10px;
  font-size: 15px;
  font-family: "Proxima Nova Regular", sans-serif;
}

.lawyer_block .rewyes_icon {
  -webkit-transform: translateY(3.5px);
          transform: translateY(3.5px);
  padding-right: 20px;
}

.lawyer_block-ingo {
  margin-top: 20px;
}

.lawyer_block-ingo .specialistik {
  margin-top: 8px;
}

.lawyer_block-ingo .specialistik a {
  text-decoration: underline;
  margin-left: 2px;
  font-size: 14px;
  color: black;
  font-family: "Proxima Nova Regular", sans-serif;
}

.lawyer_block-ingo .uslugi {
  margin-top: 12px;
}

.lawyer_block-ingo .name {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 25px;
}

.lawyer_block-ingo .special, .lawyer_block-ingo .time {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 16px;
  padding: 0;
  margin-top: 10px;
}

.lawyer_block-ingo .time {
  margin-left: 20px;
}

.lawyer_block-ingo .week {
  margin-top: 15px;
  display: inline-block;
  margin-left: 50px;
  font-size: 15px;
  font-family: "Proxima Nova Semibold", sans-serif;
}

.lawyer_block-ingo .week .weekdays {
  border: 1px solid #10A578;
  padding: 6px;
  color: #10A578;
  border-radius: 6px;
}

.lawyer_block-ingo .week .output {
  border: 1px solid #e7e8f4;
  padding: 6px;
  color: #e7e8f4;
  border-radius: 6px;
}

.lawyer_block-ingo .spec {
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 14px;
  padding: 6px;
  background-color: #F8F8FE;
  border-radius: 6px;
  line-height: 2.5;
}

.lawyer .stars {
  margin-top: 10px;
  margin-left: 16px;
}

.lawyer .stars .star {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.lawyer .stars span {
  font-family: "Proxima Nova Regular", sans-serif;
}
/*# sourceMappingURL=main.css.map */