@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova Semibold';
src: url('../fonts/ProximaNova-Semibold.eot');
src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Semibold.woff') format('woff'),
url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova Bold';
src: url('../fonts/ProximaNova-Bold.eot');
src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Bold.woff') format('woff'),
url('../fonts/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

$grin:#10A578;
$black:#161737;
$gray:#8c8da4;
$gray-light:#e7e8f4;
$regular: 'Proxima Nova Regular',
sans-serif;
$medium:'Proxima Nova Semibold',
sans-serif;
$bold:'Proxima Nova Bold',
sans-serif;
* {
	box-sizing: border-box;
	  outline: 0;
}
a {
	text-decoration: none; 	
}
// Навигация
.col,.col-1,.col-2,.col-3, .btn {
	padding: 0;
	margin: 0;
}
			.no {
		color:$gray;
		font-family: $medium;
		font-size: 16px;
	}
	.cons {
		color:$black;
		margin-top: 15px;
		font-family: $regular;
	}
				.yes {
		color:$grin;
		font-family: $medium;
		font-size: 16px;
	}
h4 {
			font-family: $medium;
		font-size: 42px;
		color:$black;
} 
.navigation {
background-color: $grin;
height: 70px;
font-size: 16px;
font-family: $medium;
&_logo {
	width: 111px;
	height: 31px;
	padding-top: 21px;
} 
&_city {
	padding-left: 26px;
	padding-top: 25px;
	&_img {
		padding-left: 8px;
	}
}
&_specialists {
	padding-left: 65px;
	padding-top: 25px;
}
&_compani,
&_notaries,
&_benefit {
	padding-left: 24px;
	padding-top: 25px;
}
button {
	border-radius: 4px;
}
.btn-1 {
	padding: 12px 25px;
	background-color: transparent;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
}
.btn-2 {
padding: 12px 14px;
color:$grin;
background-color: #ffffff;
border:none;
}
&_circuit {
	padding-left:25px;
		margin-top: 13px;
		

}
&_fill {
	padding-left: 10px;
		margin-top: 13px;

}
a {
	color:white;
}
}
// Главная
.main {
	background: url(../image/Main/home.svg) no-repeat ;
	background-size: 110%;
	h1 {
	margin-top: 138px;
	margin-bottom: 26px;
	
	font-size: 60px;
	font-family: $bold;
	span {
		color:$grin;
	}
}
form {
	margin-bottom: 170px;
}
  form.catalin input{
    float: left;
    border: 1px solid $gray-light;
    height: 70px;
    width:600px;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    border-radius: 6px 0 0 6px;
  }
  form.catalin button{
    float: left;
    border: none;
		background-color: $grin;
		border-radius:0 6px 6px 0;
		border: 1px solid $gray-light;
		border-left:none;
    padding: 0;
    margin: 0;
    width: 174px;
    height:70px;
    cursor: pointer;
    text-transform: uppercase;
		text-align: center;
		color:white;
		font-family: $medium;
		font-size: 20px;
  }

/* Placeholder
-----------------------------------------------------*/
  form.catalin input::-webkit-input-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
	}
	input[type="text"]{padding: 24px;}
   
  form.catalin input:-moz-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
  }
   
  form.catalin input:-ms-input-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
	}
}
.factodes {

&_blocks {
border: 1px solid $gray-light;
border-radius:6px;
transform:translate(0, -80px);
box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

&_block {
	display: flex;
	align-items: center;
	padding: 41px 20px;
	background-color: white;
	border-left:1px solid $gray-light;
	&:first-child{border-left: none;}



}

&_text {
	display: flex;
	flex-direction: column;
	padding-left: 18px;
}
&_textt {
	font-family: $regular;
	font-size: 20px;
	color:$black;
	margin-top: 5px;
	width: 20px;
}
&_fact {
		font-family: $regular;
	font-size: 16px;
		color:$black;
		border: 1px solid $grin;
		padding: 10px 14px;
		border-radius:6px;
		margin-top: 9px;
	span {
		color:$grin;
		font-family: $bold;
	}
}
}
.special {
	border-bottom: 1px solid 	$gray-light;
	padding-bottom: 80px;
	color:$black;
	.title {
		margin:20px 0 40px 0 ;
	}
	&_block {
		width: 270px;
		border-radius:3px;
		border-top:3px solid $grin;
		padding: 29px 0 19px 14px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
		margin: 0 auto;
	}
	&_icon {
		padding-right: 20px;
	}
	&_fact{
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 2px;
		color:$gray;
		font-family: $regular;
		font-size: 20px;
	}
	&_text {
		font-size: 20px;
		font-family: $medium;
		line-height: 1;
		span{
			font-family: $regular;
		}
	}

}
.services{
	display: flex;
	justify-content: space-between;
	&_block {
		margin-top: 60px;
				padding:  20px 20px 20px 0;
	}
	.serv {
				margin-bottom: 36px;
	}
	a {
		font-family:  $regular;
		font-size: 18px;
		color: $black;
		display: block;
		padding-bottom: 36px;

		span {
			color:$gray;
		}
	}
}
.lawyers {
	.phone_block {
		left: 60px;
		top:-20px;
	}
	.lawyers_info {
		margin-top: 15px;
	}
	font-family: $regular;
	color:$black;
	&_block{
			border:1px solid $gray-light;
			padding: 10px;
			border-radius:6px;
			height: 260px;
	}
		&_block-2{
			height: 300px;
			margin-top: 20px;
			padding: 10px;
			p {
				margin-top:10px;
				margin-bottom: 5px;
					
			}
	}
	&_img{
		width: 148px;
	}
	.card {
		display: flex;
		// justify-content: space-between;
		align-items: center;
		border:1px solid $gray-light;
		border-radius:6px;
		width: 148px;
		padding: 12px;
	font-size: 15px;
	margin-top: 5px;
	}
	&_icon{
		transform: translateY(0px);
		padding-right: 20px;
	}
	&_start {
			padding-right: 5px;
			transform: translateY(-1.5px);
		}
	
		.special {
			height: 100%;
			padding: 0;
		}
	.stars {
		display: flex;
		width: 148px;
		justify-content: center;
		margin-top: 10px;

	}
	&_name {
		font-size: 25px;
	}
	.specialization_block {
		.icon_img-1 {
			transform: translateY(6px);
		}
		.icon_img {
			&-2 {
				transform: translateY(4px);
			}
			&-3 {
				transform: translateY(3.5px);
			}
		}
				.spans {
			margin-top: 11px;
			font-size: 14px;
			display: inline-block;
			height: 100%;
			transform: translateY(-50px);
			span {
				background-color:#F8F8FE;
				border-radius:4px;
				padding: 5px 6px;
				line-height: 2.3;
			}
		}
		.adress {
			transform: translateY(-50px);
							.time-work {
				margin-left: 20px;
			}
		}
		p {
			display: inline-block;
			font-size: 16px;
		}

	}
	&_phone {
		width: 230px;
		padding: 18px;
		font-size: 18px;
		background: #F8F8FE;
		border-radius: 6px;
		letter-spacing: 0.08em;
.phone_text {
	font-family: $medium;
	font-size: 15px;
	color:$grin;
	letter-spacing: 0;

}
	}
	.WhatsApp {
		margin-top: 10px;
		display: flex;
		font-family: $medium;
		width: 230px;
		height: 54px;
			font-size: 18px;
			background-color: transparent;
			border:1px solid $grin;
			border-radius:6px;
		color:$grin;
		&_icon, &_text{
			padding-left: 10px;
			padding-right: 30px;
		}
	}
	.consultation {
		margin-top: 27px;
		width: 230px;
		text-align: center;
		font-size: 15px;
	}

.weekdays {
	border:1px solid $grin;
	padding: 5px;
	border-radius:4px;
	color:$grin;
}
.output {
	color:$gray-light;
		border:1px solid $gray-light;
	padding: 5px;
	border-radius:4px;
}
}



.lawyer {
	margin-top: 20px;
	margin-bottom: 20px;
	color:$black;
	&_block {
		border:1px solid $gray-light;
		padding-bottom: 20px;
		&-photo {
			margin: 10px;
		} 
.rewyes {
	margin-top: 5px;
	display: inline-block;
	border:1px solid $gray-light;
	border-radius:4px;
	padding: 10px 18px 10px 10px;
	font-size: 15px;
	font-family: $regular;
	&_icon {
		transform: translateY(3.5px);
		padding-right: 20px;
	}
}
	&-ingo {
		margin-top: 20px;
		.specialistik {
			margin-top: 8px;
			a {
				text-decoration: underline;
				margin-left: 28px;
				font-size: 14px;
				color:black;
				font-family: $regular;
			}
		}
		.uslugi {
			margin-top: 12px;
		}
		.name {
			font-family: $regular;
			font-size: 25px;
		}
			.special, .time {
			font-family: $regular;
			font-size: 16px;
			padding: 0;
			margin-top: 10px;
	}
	.time{
		margin-left: 20px;
	}
	.week {
		margin-top: 15px;
		display: inline-block;
		margin-left: 50px;
		font-size: 15px;
		font-family: $medium;
		.weekdays {
			border:1px solid $grin;
			padding: 6px;
			color:$grin;
			border-radius: 6px;
		}
		.output {
			border:1px solid $gray-light;
			padding: 6px;
			color:$gray-light;
			border-radius: 6px;
		}
	}
	.spec {
			font-family: $regular;
			font-size: 14px;
			padding: 6px;
			background-color: #F8F8FE;
			border-radius:6px;
			line-height: 2.5;
	}
	}
	}
	.stars {
		margin-top: 10px;
		margin-left: 16px;
		.star {
			transform: translateY(1px);
		}
		span {
			font-family: $regular;
		}
	}
	.phone_card{
		margin-left: 60px;
		margin-top: 20px;
	}
	.phone {
		right: 100px;
		width: 230px;
		height: 54px;
		text-align: center;
		font-family: $regular;
		font-size: 18px;
		color:$black;
		background-color: #F8F8FE;
		border-radius:6px;
		padding:18px;
		span {
			font-size: 15px;
			color:$grin;
			font-family: $medium;
		}
	}
	.WhatsApp_block {
		width: 230px;
		margin-top: 10px;
		font-family: $medium;
		font-size: 18px;
		padding: 12px;
		border:1px solid $grin;
		border-radius: 6px;
		height: 54px;
		.wa_text {
			color:$grin;
		}
		
		.wa_icon {
			transform: translateY(3px);
			padding-right: 15px;
		}
	}
			.consultation { 
				font-family: $medium;
				width: 230px;
				text-align: center;
		}
}