@font-face {
font-family: 'Proxima Nova Regular';
src: url('../fonts/ProximaNova-Regular.eot');
src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Regular.woff') format('woff'),
url('../fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova Semibold';
src: url('../fonts/ProximaNova-Semibold.eot');
src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Semibold.woff') format('woff'),
url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Proxima Nova Bold';
src: url('../fonts/ProximaNova-Bold.eot');
src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/ProximaNova-Bold.woff') format('woff'),
url('../fonts/ProximaNova-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
$grin:#10A578;
$black:#161737;
$gray:#8c8da4;
$gray-light:#e7e8f4;
$regular: 'Proxima Nova Regular',
sans-serif;
$medium:'Proxima Nova Semibold',
sans-serif;
$bold:'Proxima Nova Bold',
sans-serif;
* {
	box-sizing: border-box;
	  outline: 0;
}
a {
	text-decoration: none; 	
}
// Навигация
.col,.col-1,.col-2,.col-3, .btn {
	padding: 0;
	margin: 0;
}
.navigation {
background-color: $grin;
height: 70px;
font-size: 16px;
font-family: $medium;
&_logo {
	width: 111px;
	height: 31px;
	padding-top: 21px;
} 
&_city {
	padding-left: 26px;
	padding-top: 25px;
	&_img {
		padding-left: 8px;
	}
}
&_specialists {
	padding-left: 65px;
	padding-top: 25px;
}
&_compani,
&_notaries,
&_benefit {
	padding-left: 24px;
	padding-top: 25px;
}
button {
	border-radius: 4px;
}
.btn-1 {
	padding: 12px 25px;
	background-color: transparent;
	border:1px solid #FFFFFF;
	color:#FFFFFF;
}
.btn-2 {
padding: 12px 14px;
color:$grin;
background-color: #ffffff;
border:none;
}
&_circuit {
	padding-left:25px;
		margin-top: 13px;
		

}
&_fill {
	padding-left: 10px;
		margin-top: 13px;

}
a {
	color:white;
}
}
// Главная
.main {
	background: url(../image/Main/home.svg) no-repeat ;
	background-size: 110%;
	h1 {
	margin-top: 138px;
	margin-bottom: 26px;
	
	font-size: 60px;
	font-family: $bold;
	span {
		color:$grin;
	}
}
form {
	margin-bottom: 170px;
}
  form.catalin input{
    float: left;
    border: 1px solid $gray-light;
    height: 70px;
    width:600px;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    border-radius: 6px 0 0 6px;
  }
  form.catalin button{
    float: left;
    border: none;
		background-color: $grin;
		border-radius:0 6px 6px 0;
		border: 1px solid $gray-light;
		border-left:none;
    padding: 0;
    margin: 0;
    width: 174px;
    height:70px;
    cursor: pointer;
    text-transform: uppercase;
		text-align: center;
		color:white;
		font-family: $medium;
		font-size: 20px;
  }

/* Placeholder
-----------------------------------------------------*/
  form.catalin input::-webkit-input-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
	}
	input[type="text"]{padding: 24px;}
   
  form.catalin input:-moz-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
  }
   
  form.catalin input:-ms-input-placeholder {
     color: $gray;
		font-family: $regular;
		font-size: 18px;
		padding: 24px;
	}
}
.factodes {

&_blocks {
border: 1px solid $gray-light;
border-radius:6px;
transform:translate(0, -80px);
box-shadow: 0 2px 4px rgba(0, 0, 0, .2);;
}

&_block {
	display: flex;
	align-items: center;
	padding: 41px 20px;
	background-color: white;
	border-left:1px solid $gray-light;
	&:first-child{border-left: none;}



}

&_text {
	display: flex;
	flex-direction: column;
	padding-left: 18px;
}
&_textt {
	font-family: $regular;
	font-size: 20px;
	color:$black;
	margin-top: 5px;
	width: 20px;
}
&_fact {
		font-family: $regular;
	font-size: 16px;
		color:$black;
		border: 1px solid $grin;
		padding: 10px 14px;
		border-radius:6px;
		margin-top: 9px;
	span {
		color:$grin;
		font-family: $bold;
	}
}
}